@import 'variables';
@import 'mixins';

.room-type {
  display: flex;
  justify-items: center;
  min-height: 23vh;

  max-width: 600px;

  &_image {
    object-fit: cover;
    flex-basis: 60%;
    box-shadow: 0 4px 4px 0 $boxShadow;

    img {
      width: 100%;
    }
  }

  &_text {
    flex-basis: 40%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 1.25rem;
    & > .button {
      box-shadow: 0 4px 4px 0 $boxShadow;
    }
    h3 {
      margin: 0;
    }

    p {
      font-size: 1.25rem;
      line-height: 100%;
      margin: 8% 0;
    }
  }
}

.booking-info {
  @include center;
  flex-direction: column;
  h2 {
    margin-bottom: 4rem;
  }
  &_details {
    background-color: $lightGrey;
    height: 12vh;
    width: 63vw;
    border-radius: 9px;
    box-shadow: 0px 4px 4px $boxShadow;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding: 4px 30px 14px 30px;

    & > img {
      height: 100%;
      width: 15vw;
    }

    & > .border {
      width: 1px;
      background-color: $black;
      height: 110%;
    }
  }
}

.navbar {
  max-width: 100vw;
  @include center;
  background-color: $greenBlue;
  min-height: 15vh;
  padding-left: 5vw;
  padding-right: 5vw;
  border-bottom: 11px solid $neonBlue;

  & > .brand {
    margin-right: auto;
  }
}

.footer {
  max-width: 100vw;
  overflow-x: hidden;
  @include center;
  background-color: $darkBrown;
  min-height: 43vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

.room-booking {
  max-width: 100vw;
  height: 25rem;
  @include center;
  .room-type {
    .room-type_text {
      & > p {
        margin-bottom: auto;
      }
    }
  }

  &_details {
    @include center;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
    padding-right: 1.125rem;

    .input {
      width: 25rem;

      @include center;
      justify-content: right;
      text-align: right;

      & > p {
        font-size: $fontSizeRoom;
        margin-right: 1.125rem;
      }
    }
    & > p {
      font-size: $fontSizeRoom;
      font-weight: 700;
    }
  }
}
