$fontSizeRoom: 1.25rem;
$fontSizeBtn: 1.5rem;
$fontSizeCopyright: 1.375rem;
$fontSizeLogo: 1.625rem;
$fontSizeLinks: 1.5rem;

$white: #fff;
$black: #000;

$lightGrey: #f3f2ee;
$greenBlue: #00c2ba;
$neonBlue: #08f7fe;
$darkBrown: #2b2319;
$actionGreen: #0c251f;
$boxShadow: rgba(0, 0, 0, 0.25);

$radius: 9px;
